{% sw_extends '@Storefront/storefront/component/address/address-form.html.twig' %}
{% block component_address_form_address_fields %}
    {% if idPrefix is not defined %}
        {% set idPrefix = '' %}
    {% endif %}
    {% set allowedCountries =  page.countries.elements|filter(country => country.iso == "NL") %}
    {% set codecheckOptions = {
        csrfToken: sw_csrf('frontend.address.postnl.postal-code-check', {"mode": "token"}),
        countries: allowedCountries,
        concatPrefix : idPrefix ~ prefix
    } %}
    {#    {{ dump(page) }} #}
    {{ dump(data.customFields.postNL) }}
    <div data-postnl-postal-code-check="true"
         data-postnl-postal-code-check-options='{{ codecheckOptions | json_encode }}'>

        <div class="form-row country-and-state-form-elements" data-country-state-select="true">
            {% block component_address_form_country %}
                {{ parent() }}
            {% endblock %}
        </div>

        <div class="form-row" id="postNLAddressRow" hidden="hidden">
            {% block postnl_component_adress_form_zipcode_house_number_house_number_addition %}
                {% block postnl_component_address_form_zipcode %}
                    <div class="form-group col-sm-6">

                        {% if formViolations.getViolations("/zipcode") is not empty %}
                            {% set violationPath = "/zipcode" %}
                        {% elseif formViolations.getViolations("/#{prefix}/zipcode") is not empty %}
                            {% set violationPath = "/#{prefix}/zipcode" %}
                        {% endif %}

                        {% block postnl_component_address_form_zipcode_label %}
                            <label class="form-label"
                                   for="{{ idPrefix ~ prefix }}PostNLAddressZipcode">
                                {{ "address.zipcodeLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                            </label>
                        {% endblock %}

                        {% block postnl_component_address_form_zipcode_input %}
                            <input type="text"
                                   class="form-control{% if violationPath %} is-invalid{% endif %}"
                                   id="{{ idPrefix ~ prefix }}PostNLAddressZipcode"
                                   placeholder="{{ "address.zipcodePlaceholder"|trans|striptags }}"
                                   name="{{ prefix }}[zipcode]"
                                   value="{{ data.get('zipcode') }}"
                                   required="required">
                        {% endblock %}

                        {% block postnl_component_address_form_zipcode_error %}
                            {% if violationPath %}
                                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block postnl_component_address_form_house_number %}
                    <div class="form-group col-sm-4">
                        <label class="form-label"
                               for="{{ idPrefix ~ prefix }}PostNLAddressHouseNumber">
                            {{ "postnl.address.houseNumberLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                        <input type="text"
                               class="form-control{% if violationPath %} is-invalid{% endif %}"
                               id="{{ idPrefix ~ prefix }}PostNLAddressHouseNumber"
                               placeholder="{{ "postnl.address.houseNumberPlaceholder"|trans|striptags }}"
                               name="{{ prefix }}[houseNumber]"
                               value="{{ data.customFields.postNL.houseNumber }}"
                               required="required"
                        >
                    </div>
                {% endblock %}

                {% block postnl_component_address_form_house_number_addition %}
                    <div class="form-group col-sm-2">
                        <label class="form-label"
                               for="{{ idPrefix ~ prefix }}PostNLAddressHouseNumberAddition">
                            {{ "postnl.address.houseNumberAdditionLabel"|trans|sw_sanitize }}
                        </label>
                        <input type="text"
                               class="form-control{% if violationPath %} is-invalid{% endif %}"
                               id="{{ idPrefix ~ prefix }}PostNLAddressHouseNumberAddition"
                               placeholder="{{ "postnl.address.houseNumberAdditionPlaceholder"|trans|striptags }}"
                               name="{{ prefix }}[houseNumberAddition]"
                               value="{{ data.customFields.postNL.houseNumberAddition }}"
                               list="{{ idPrefix ~ prefix }}PostNLAddressHouseNumberDatalist"
                        >
                        <datalist id="{{ idPrefix ~ prefix }}PostNLAddressHouseNumberDatalist"></datalist>
                    </div>
                {% endblock %}
            {% endblock %}
            {% block postnl_component_adress_form_street_city %}

                {% block postnl_component_address_form_street %}
                    <div class="form-group col-sm-6">
                        <label class="form-label"
                               for="{{ idPrefix ~ prefix }}PostNLAddressStreetShow">
                            {{ "postnl.address.streetLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                        <input type="text"
                               class="form-control{% if violationPath %} is-invalid{% endif %}"
                               id="{{ idPrefix ~ prefix }}PostNLAddressStreet"
                               placeholder="{{ "postnl.address.streetPlaceholder"|trans|striptags }}"
                               name="{{ prefix }}[streetName]"
                               value="{{ data.customFields.postNL.streetName }}"
                               required="required"
                               {% if not data.customFields.postNL.streetName %}disabled="disabled"{% endif %}
                        >
                    </div>
                {% endblock %}

                {% block postnl_component_address_form_city %}
                    <div class="form-group col-sm-6">
                        {% if formViolations.getViolations("/city") is not empty %}
                            {% set violationPath = "/city" %}
                        {% elseif formViolations.getViolations("/#{prefix}/city") is not empty %}
                            {% set violationPath = "/#{prefix}/city" %}
                        {% else %}
                            {% set violationPath = null %}
                        {% endif %}

                        <label class="form-label"
                               for="{{ idPrefix ~ prefix }}PostNLAddressCity">
                            {{ "address.cityLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>

                        <input type="text"
                               class="form-control{% if violationPath %} is-invalid{% endif %}"
                               id="{{ idPrefix ~ prefix }}PostNLAddressCity"
                               placeholder="{{ "address.cityPlaceholder"|trans|striptags }}"
                               name="{{ prefix }}[city]"
                               value="{{ data.get('city') }}"
                               required="required"
                               {% if not data.get('city') %}disabled="disabled"{% endif %}
                        >

                        {% block component_address_form_city_error %}
                            {% if violationPath %}
                                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block postnl_component_address_form_alerts %}
                    <div class="postnl-alerts form-group col-md-12">
                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                            content: '',
                            type: "warning"
                        } %}
                    </div>
                {% endblock %}
            {% endblock %}
        </div>

        <div class="form-row" id="defaultAddressRow">
            {% block component_address_form_street %}
                {{ parent() }}
            {% endblock %}

            {% block component_address_form_zipcode_city %}
                {{ parent() }}
            {% endblock %}

            {% block component_address_form_additional_field1 %}
                {{ parent() }}
            {% endblock %}

            {% block component_address_form_additional_field2 %}
                {{ parent() }}
            {% endblock %}
        </div>

        <div class="form-row">
            {% block component_address_form_phone_number %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
