{% block memo_config_content %}
    <postnl-memo-collapse :disabled="disabled">
        <template #header>
            <sw-container rows="1fr 1fr">
                <div>
                    {{ content.companyName }}

                    <template v-if="content.companyName && (content.firstName || content.name)">
                        &mdash;
                    </template>

                    {{ content.firstName }} {{ content.name }}
                </div>
                <div>
                    {{ content.street }} {{ content.houseNr }}

                    <template v-if="content.houseNrExt">
                        {{ content.houseNrExt }}
                    </template>

                    <template v-if="content.zipcode || content.city">
                        , {{ content.zipcode }} {{ content.city }}
                    </template>

                    <template v-if="country">
                        , {{ country }}
                    </template>
                </div>
            </sw-container>
        </template>
        <template #content>
            <sw-container columns="repeat(4, 1fr)" gap="0 16px">
                <sw-text-field
                    v-model:value="content.companyName"
                    required
                    :label="$tc('postnl.config.senderAddress.companyName')"
                    :style="span(4)"
                />

                <sw-text-field
                    v-model:value="content.firstName"
                    :label="$tc('postnl.config.senderAddress.firstName')"
                    :style="span(2)"
                />

                <sw-text-field
                    v-model:value="content.name"
                    :label="$tc('postnl.config.senderAddress.name')"
                    :style="span(2)"
                />

                <sw-text-field
                    v-model:value="content.street"
                    required
                    :label="$tc('postnl.config.senderAddress.street')"
                    :style="span(2)"
                />

                <sw-text-field
                    v-model:value="content.houseNr"
                    required
                    :label="$tc('postnl.config.senderAddress.houseNr')"
                />

                <sw-text-field
                    v-model:value="content.houseNrExt"
                    :label="$tc('postnl.config.senderAddress.houseNrExt')"
                />

                <sw-text-field
                    v-model:value="content.zipcode"
                    required
                    :label="$tc('postnl.config.senderAddress.zipcode')"
                />

                <sw-text-field
                    v-model:value="content.city"
                    required
                    :label="$tc('postnl.config.senderAddress.city')"
                    :style="span(2)"
                />

                <sw-entity-single-select
                    v-model:value="content.country"
                    entity="country"
                    required
                    :label="$tc('postnl.config.senderAddress.country')"
                    :criteria="countryCriteria"
                />
            </sw-container>

            <postnl-required-hint textAlign="right" />
        </template>

    </postnl-memo-collapse>
{% endblock %}
