{% block sw_order_list_grid_columns %}

    {% parent %}

    {% block sw_order_list_grid_columns_deliveries_shipping_order_address %}
        <template #column-deliveries[0].shippingOrderAddressId="{ item }">
            {{ item.deliveries[0].shippingOrderAddress.street }},
            {{ item.deliveries[0].shippingOrderAddress.zipcode }}
            {{ item.deliveries[0].shippingOrderAddress.city }}
        </template>
    {% endblock %}

    {% block sw_order_list_grid_columns_custom_fields_postnl_product_id %}
        <template #column-customFields.postnl.productId="{ item }">
            {{ getProductName(item) }}
        </template>
    {% endblock %}

    {% block sw_order_list_grid_columns_custom_fields_postnl_bar_code %}
        <template #column-customFields.postnl.barCode="{ item }">
            <sw-external-link v-if="item.customFields.postnl.barCode"
                              :href="getBarCodeLink(item)"
                              target="_blank">
                {{ item.customFields.postnl.barCode }}
            </sw-external-link>
        </template>
    {% endblock %}

    {% block sw_order_list_grid_columns_custom_fields_postnl_confirm %}
        <template #column-customFields.postnl.confirm="{ item }">
            <sw-data-grid-column-boolean
                v-model="item.customFields.postnl.confirm || false"
                :is-inline-edit="false"
            />
        </template>
    {% endblock %}

{% endblock %}

{% block sw_order_list_grid_columns_actions_view %}

    {% parent %}

    <sw-context-menu-divider/>

    <sw-context-menu-item
        class="sw-order-list__order-ship-action"
        @click="openShippingModal(item.id)"
    >
        Ship
    </sw-context-menu-item>
{% endblock %}


{% block sw_order_list_delete_modal %}

    {% parent %}

    <postnl-shipping-modal v-if="isShippingModalId === item.id"
                           :selection="{item: item}"
                           @close="closeShippingModal"/>

{% endblock %}

{% block sw_order_list_bulk_selected_actions_content %}
    <template #bulk>
        <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
        <a
            v-if="acl.can('order.editor')"
            class="link link-primary"
            @click="openBulkShippingModal"
        >
            Ship
        </a>
    </template>
{% endblock %}

{% block sw_order_list_bulk_edit_modal %}
    <template #bulk-modals="{ selection }">
        <postnl-shipping-modal v-if="isOpenBulkShippingModal"
                               :selection="selection"
                               @close="closeBulkShippingModal"/>
    </template>
{% endblock %}


{% block sw_order_list_smart_bar_actions_add %}
{% endblock %}
