{% block postnl_shipping_method_pickup %}

    {% set pickupOptions = {
        csrfToken: sw_csrf('frontend.checkout.postnl.pickup-point', {"mode": "token"})
    } %}

    <div class="postnl-shipping-method__pickup"
         data-postnl-pickup-points="true"
         data-postnl-pickup-points-options='{{ pickupOptions | json_encode }}'>

        {% for pickup in context.shippingMethod.extensions.postnl_pickup.all | slice(0,5) %}
            <div class="postnl-pickup-point">
                <div class="custom-control custom-radio">
                    <input type="radio"
                           class="custom-control-input postnl-pickup-point-input"
                           id="postnlPickupPoint{{ pickup.getLocationCode() }}"
                           name="postnlPickupPoint"
                           value="{{ pickup.getLocationCode() }}"/>

                    <label class="custom-control-label"
                           for="postnlPickupPoint{{ pickup.getLocationCode() }}">

                        <div>{{ pickup.getName() }}</div>
                        <div>{{ pickup.getAddress().getStreet() }} {{ pickup.getAddress().getHouseNr() }} {{ pickup.getAddress().getHouseNrExt() }}</div>
                        <div>{{ pickup.getAddress().getZipcode() }} {{ pickup.getAddress().getCity() }}</div>

                    </label>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
