{% block memo_config_content %}
    <postnl-memo-collapse :disabled="disabled" v-if="senderCountry?.iso === 'NL'">
        <template #header>
            <sw-container rows="1fr 1fr" v-if="content.hasReturnContract">
                <div>
                    {{ content.companyName }}

                    <template v-if="content.companyName && content.returnCustomerCode">
                        &mdash;
                    </template>

                    {{ content.returnCustomerCode }}
                </div>
                <div>
                    {{ $tc('postnl.config.returnAddress.returnNumberPrefix') }} {{ content.returnNumber }}

                    <template v-if="content.zipcode || content.city">
                        , {{ content.zipcode }} {{ content.city }}
                    </template>

                    <template v-if="senderCountry">
                        , {{ senderCountry?.name }}
                    </template>
                </div>
            </sw-container>
        </template>
        <template #content>
            <sw-switch-field
                v-model:value="content.hasReturnContract"
                :label="$tc('postnl.config.returnAddress.contract')"
                size="small"
                noMarginTop
            />

            <sw-switch-field
                v-model:value="content.useHomeAddress"
                :label="$tc('postnl.config.returnAddress.useHomeAddress')"
                size="small"
                noMarginTop
            />

            <sw-alert variant="info">
                {{ $tc('postnl.config.returnAddress.customerCodeWarning') }}
            </sw-alert>

            <sw-container
                v-if="content.hasReturnContract"
                columns="repeat(4, 1fr)"
                gap="0 16px"
            >
                <sw-text-field
                    v-model:value="content.companyName"
                    :label="$tc('postnl.config.returnAddress.companyName')"
                    :style="span(4)"
                />

                <template v-if="content.returnUseHomeAddress">
                    <sw-text-field
                        v-model:value="content.street"
                        :label="$tc('postnl.config.returnAddress.street')"
                        :style="span(2)"
                    />

                    <sw-text-field
                        v-model:value="content.houseNr"
                        :label="$tc('postnl.config.returnAddress.houseNr')"
                    />

                    <sw-text-field
                        v-model:value="content.houseNrExt"
                        :label="$tc('postnl.config.returnAddress.houseNrExt')"
                    />
                </template>

                <sw-text-field
                    v-else
                    v-model:value="content.returnNumber"
                    :label="$tc('postnl.config.returnAddress.returnNumber')"
                    :style="span(4)"
                >
                    <template #prefix>
                        {{ $tc('postnl.config.returnAddress.returnNumberPrefix') }}
                    </template>
                </sw-text-field>

                <sw-text-field
                    v-model:value="content.zipcode"
                    :label="$tc('postnl.config.returnAddress.zipcode')"
                />

                <sw-text-field
                    v-model:value="content.city"
                    :label="$tc('postnl.config.returnAddress.city')"
                    :style="span(2)"
                />

                <sw-text-field
                    :value="senderCountry?.name"
                    :label="$tc('postnl.config.returnAddress.country')"
                    disabled
                />

                <sw-text-field
                    v-model:value="content.returnCustomerCode"
                    :label="$tc('postnl.config.returnAddress.returnCustomerCode')"
                    :style="span(4)"
                />
            </sw-container>
        </template>
    </postnl-memo-collapse>

    <postnl-memo-collapse
        v-else-if="senderCountry?.iso === 'BE'"
        :disabled="disabled"
    >
        <template #header>
            <sw-container rows="1fr 1fr">
                <div>
                    {{ content.companyName }}

                    <template v-if="content.companyName && content.returnCustomerCode">
                        &mdash;
                    </template>

                    {{ content.returnCustomerCode }}
                </div>
                <div>
                    {{ content.street }} {{ content.houseNr }}

                    <template v-if="content.houseNrExt">
                        {{ content.houseNrExt }}
                    </template>

                    <template v-if="content.zipcode || content.city">
                        , {{ content.zipcode }} {{ content.city }}
                    </template>

                    <template v-if="senderCountry">
                        , {{ senderCountry?.name }}
                    </template>
                </div>
            </sw-container>
        </template>
        <template #content>
            <sw-alert variant="info">
                {{ $tc('postnl.config.returnAddress.customerCodeWarning') }}
            </sw-alert>

            <sw-container
                columns="repeat(4, 1fr)"
                gap="0 16px"
            >
                <sw-text-field
                    v-model:value="content.companyName"
                    :label="$tc('postnl.config.returnAddress.companyName')"
                    :style="span(4)"
                />

                <sw-text-field
                    v-model:value="content.street"
                    :label="$tc('postnl.config.returnAddress.street')"
                    :style="span(2)"
                />

                <sw-text-field
                    v-model:value="content.houseNr"
                    :label="$tc('postnl.config.returnAddress.houseNr')"
                />

                <sw-text-field
                    v-model:value="content.houseNrExt"
                    :label="$tc('postnl.config.returnAddress.houseNrExt')"
                />

                <sw-text-field
                    v-model:value="content.zipcode"
                    :label="$tc('postnl.config.returnAddress.zipcode')"
                />

                <sw-text-field
                    v-model:value="content.city"
                    :label="$tc('postnl.config.returnAddress.city')"
                    :style="span(2)"
                />

                <sw-text-field
                    :value="senderCountry?.name"
                    :label="$tc('postnl.config.returnAddress.country')"
                    disabled
                />

                <sw-text-field
                    v-model:value="content.returnCustomerCode"
                    :label="$tc('postnl.config.returnAddress.returnCustomerCode')"
                    :style="span(4)"
                />
            </sw-container>
        </template>
    </postnl-memo-collapse>

    <sw-alert
        v-else
        variant="warning"
        style="margin: 1rem 0.75rem;"
    >
        {{ $tc('postnl.config.returnAddress.warning.country') }}
    </sw-alert>
{% endblock %}
